# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Python + Flask stuff
__pycache__/
*.pyc
.venv/
instance/
*.sqlite3
*.db

# Node / Frontend stuff
node_modules/
dist/
build/

# macOS junk
.DS_Store

# VS Code settings
.vscode/

# test file
*test*