<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Listings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jobs.css') }}">
  </head>
  <body>
    <header class="page-header">
      <a href="/" class="home-link">← Back Home</a>
      <h2>Job Listings</h2>
      <a class="create-btn" href="/create-listing">Create Listing</a>
    </header>
    <div class="page-grid">
      <section class = sidebar>
        <div class="side-features">
          <div class="filter-area">
            <p>address</p>
            <p>time</p>
            <div class="search-settings">
              <p>min distance</p>
              <p>max distance</p>
              <p>min price</p>
              <p>max price</p>
            </div>
          </div>
        </div>
      </section>
      <div>
        <section class="controls">
          <form method="get" action="/jobs" class="search-form">
            <input
              type="text"
              name="q"
              placeholder="Search jobs..."
              value="{{ request.args.get('q','') }}"
            />
            <button type="submit">Search</button>
          </form>
        </section>

        <main class="jobs-list">
          {% if jobs and jobs|length > 0 %}
            {% for job in jobs %}
              <a class="job-card" href="/job/{{ job.id }}">
                <div>
                  <div class="job-options">
                    <p>apply</p>
                    <p>view</p>
                    <p>report</p>
                  </div>
                </div>
                <div>
                  <b class="job-title">{{ job.title}}</b>
                  <div class="job-desc">{{ job.description }}</div>
                  <p>tags</p>
                  <p>poster account</p>
                </div>
                <div class="job-details">{{ job.details }}
                  <p>distance</p>
                  <p>price range</p>
                  <p>time of day</p>
                </div>
              </a>
            {% endfor %}
          {% else %}
            <div class="empty">No jobs found.</div>
          {% endif %}
        </main>
      </div>
    </div>
  </body>
</html>
